<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" onclick="window.location.reload(true)" href="#">LISTA INVERSIONISTAS</a>
          <div class="collapse navbar-collapse" id="navbarColor01">
          </div>
        </div>
      </nav>



    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { 
                            for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td> <%= (i + 1) %> </td>
                                    <td> <%= data[i].NOMBRE %> </td>
                                    <td> <%= data[i].DIRECCION %> </td>
                                    <td> <%= data[i].TELEFONO %> </td>
                                    <td>
                                        <a href="/update/<%= data[i].ID  %>" class="btn btn-info">Editar</a>
                                        <a href="/delete/<%= data[i].ID  %>" class="btn btn-danger">Borrar</a>
                                    </td>
                                </tr>
                            <% } 
                        } %>
                    </tbody>
                </table>


            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="NOMBRE" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="DIRECCION" placeholder="Direccion" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="TELEFONO" placeholder="Telefono" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>